* {
	font-family: Abel, Helvetica, serif;
	margin: 0;
	padding: 0;
}

.landing-page{
	/*background: #eaeaea;*/
	background: url('../images/fashion/card2.2.jpeg')no-repeat fixed right center;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.welcome-message h1 {
	font-size: 70px;
}

.buttonhHome {
	border:1px solid #fff;
	color: #000;
	margin-left:100px;
}

.buttonhHome:hover {
	border:1px solid #000;
	color: #000;
	background: #000;
}

.landing-page2{
	background: url('../images/fashion/card5.jpeg')no-repeat fixed  center center;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
	height: 100vh;
}

.navbar {
	background:#fff;
	/*border-bottom: 1px solid #000;*/
}

.active {
	color: #C12220;
	/*border-bottom:1px solid #000;*/
}

.nav-item {
	font-weight: bold;
	margin: 10px;
}

.brandName {
	color: #974C49;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Tondo', serif;
	text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.jumbotron {
	padding-top: 650px;
}

.button_1 {
	background: #F5954C;
	/*margin-left:150px;*/
	color: #fff;
}

.navbar .active {
	border-bottom:1px solid #000;
}

.desc {
	margin-left:40px;
}

.mini_about_section {
	background: #D7C9BE;
	padding: 50px;
}

.coolFreebies {
	color: #C12220;
	font-weight: bold;
}

.section-cards {
	background: #fff;
	/*background: #eaeaea;*/
	/*background: url('../images/bg5.jpeg')no-repeat fixed  center center;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;*/
	height: auto;
}

.card{
	background: #fff;
	box-shadow: 7px 7px gray;
	margin-top: 120px;
}

.card-body {
	color: #000;
	background: #eaeaea;
}

.card-text {
	text-align: justify;
}

.footer {
	padding: 20px;
}

.cake-section {
	background: #fff;
	color: #fff; 
	padding: 40px;
	height: 500px;	
}

.wrapper-1 {
	background: #F5954C;
	padding: 50px;
}

.wrapper-2 {
	background: #2C3345;
	padding: 50px;	
}

.card-title {
	text-transform: uppercase;
	font-weight: bold;
}

/*About Us Section*/
.highlight-images {
	position:relative;	
	height: 50vh;
	/*background: rgba(0,0,0,.5);*/
	background: rgba(0,0,0,.5);
	margin-top: -200px;	
}

.highlight-images .cakes_pic {
	position: absolute;
	margin-top: 0px;
	padding-top: 70px;
}

/*.about-section {
	background: rgba(0,0,0,.5); 
}*/

.vision {
	background: #D7C9BE;
	height: 80vh;
	padding: 50px;
	padding-top: 100px;
}

.mission {
	background: #EDEBE5;
	height: auto;
	padding: 50px;
	padding-top: 100px;
}

hr {
	background: teal;
	width: 40%;
	height: 1px;
}


footer a{
	margin: 40px;
	color: #fff;
}

footer a:hover {
	text-decoration: none;
	color: #fff;
}


.contactUs-section {
	background: #EDEBE5;
	height: 80vh;
	padding: 50px;
}

.title {
	margin-top: 20px;
}

.fas {
	height: 50px;
	width: 50px;
	margin-left:170px;
}

.gallery-section {
	background: #EDEBE5;
	padding-top: 50px;
}

.modal-size {
	max-width: 60%;

}

/*media query*/
/**Index Part*/
/*@media (min-width: 576px){
	.landing-page {
		background: url('../images/fashion/homeBg3.jpeg')no-repeat fixed  center center;
		-webkit-background-size: cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size: cover;
	}

	.landing-page h1 {
		font-size: 20px;
	}

	.buttonhHome {
		margin:auto;
		/*padding:10px;
		background: #fff;
	}
}*/*/